.filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__label {
        font-weight: bold;
        font-size: 12px;
        margin-right: 8px;
    }

    &__select {
        border: 0;
    }
}