<div class="filter">
  <label class="filter__label" for="filterList">Ordenar:</label>
  <select class="filter__select" [ngModel]="orderBy" (ngModelChange)="emitterOrderBy($event)" name="filterList">
    <option [value]="i" *ngFor="let i of orders">{{i}}</option>
  </select>
</div>