<div class="info">
  <h1 class="info__title" aria-label="Digite no próximo campo o ano e etapa." tabindex="0">
    Use os campos abaixo para visualizar os resultados do Grand Prix.
  </h1>
</div>

<!-- component: box search -->
<app-form-search (sendSearch)="getResults($event)"></app-form-search>

<!-- component: loading -->
<ngx-spinner
  bdOpacity= 1
  bdColor= "rgba(0,0,0,0.4)"
  size= "medium"
  type= "square-loader"
  [fullScreen] = "true"
  >
  <p> Carregando... </p>
</ngx-spinner>

<div *ngIf="resultsView.length; else noResults">

  <!-- component: filter list results -->
  <app-filter-list
    [orderBy]="orderBy"
    (sendAction)="sortBy($event)">
  </app-filter-list>

  <!-- component: list results -->
  <app-table-result
    [raceObject]="resultsView">
  </app-table-result>
</div>

<!-- error callback -->
<ng-template #noResults>
  <p
    class="no-results"
    *ngIf="invalidSearch">
    Nenhum resultado encontrado.<br/> Verifique os dados preenchidos e tente novamente.
  </p>
</ng-template>