/* info text style */
.info {
    display: flex;
    margin: 16px;
    flex-wrap: wrap;
    justify-content: center;

    &__title {
        color: #000000;
        font-size: 16px;
    }
}

/* error text style */
.no-results {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}