<table *ngFor="let race of raceObject">
    <h1>{{race.raceName}}</h1>

    <tr>
      <th>Posição</th>
      <th>Voltas</th>
      <th>Pontos</th>
      <th>Status</th>
      <th>Piloto</th>
      <th>Construtor</th>
    </tr>

    <tr *ngFor="let raceResults of race.Results">
      <td>
        {{raceResults.position}}
      </td>

      <td>
        {{raceResults.laps}}
      </td>

      <td>
        {{raceResults.points}}
      </td>

      <td>
        {{raceResults.status}}
      </td>

      <td>
        {{raceResults.Driver.givenName}} {{raceResults.Driver.familyName}}
      </td>

      <td>
        {{raceResults.Constructor.name}}
      </td>
    </tr>
  </table>