table {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        font-weight: bold;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        text-align: center;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            width: 80px;
        }

        @media (max-width: 780px) {
            &:nth-child(4) {
                display: none;
            }
        }

        @media (max-width: 580px) {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    th {
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}