/* component box search */
.box-results {
    background: #dddddd;
    padding: 16px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    margin: 16px;

    @media (min-width: 768px) {
        margin: 16px auto;
        min-width: 400px;
        max-width: 400px;
    }
}

/* form search */
.form {
    display: flex;
    justify-content: space-between;
    flex: 1;
    text-align: center;

    &__input {
        margin-right: 8px;
        padding: 8px;
        border: 1px solid white;
        border-radius: 4px;
        flex: 1;

        @media (max-width: 275px) {
            margin-right: 0;
        }
    }

    &__button {
        background: black;
        color: white;
        font-size: 14px;
        border: 0;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background: #4a4848;
        }

        @media (max-width: 275px) {
            width: 100%;
            margin-top: 8px;
        }
    }

    &__error {
        width: 100%;
        color: red;
        font-size: 12px;
        line-height: 15px;
        margin-top: 12px;
    }
}