<div class="box-results">
    <form class="box-search__form form">
        <input
            type="text"
            class="form__input"
            placeholder="Digite o Ano"
            mask='0000'
            aria-label="Digite o ano da corrida desejada"
            autofocus
            #yearNumber>
  
          <input
            type="text"
            class="form__input"
            placeholder="Digite a Etapa"
            mask='00'
            aria-label="Digite o número da etapa desejada"
            #roundNumber>
        <button
            class="form__button"
            aria-label="Clique aqui para enviar a requisição"
            (click)="emitterSearchFilter($event, yearNumber.value, roundNumber.value);">
            Buscar
        </button>
    </form>
  </div>