@import './assets/scss/base/variables';
@import './assets/scss/base/index';


body {
    background: #F4F2F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100%;
}